In [9]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
pune_weather = pd.read_csv("datasets/pune_temp.csv")
global_weather = pd.read_csv("datasets/global_temp.csv")

In [34]:
pune_weather.head()

   year  avg_temp
0  1796     24.39
1  1797     25.17
2  1798     24.05
3  1799     24.68
4  1800     24.67

In [35]:
global_weather.head()

   year  avg_temp
0  1750      8.72
1  1751      7.98
2  1752      5.78
3  1753      8.39
4  1754      8.47

In [36]:
pune_weather = pune_weather.merge(pune_weather.rolling(5, on="year").mean(), on="year")
global_weather = global_weather.merge(global_weather.rolling(5, on="year").mean(), on="year")

In [40]:
pune_weather.head(10)

   year  avg_temp_x  avg_temp_y
0  1796       24.39         NaN
1  1797       25.17         NaN
2  1798       24.05         NaN
3  1799       24.68         NaN
4  1800       24.67      24.592
5  1801       23.94      24.502
6  1802       25.18      24.504
7  1803       24.95      24.684
8  1804       25.33      24.814
9  1805       24.80      24.840